<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="../../static/styleauth.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Авторизация</title>
</head>

<body>
  <div>
    <a href="{% url 'home' %}">
      <img
        style="position: absolute; left: 50px; top: 40px"
        src="../../static/img/home.png"
        height="30"
        width="35"
        alt=""
      />
    </a>
  </div>
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <a href="{% url 'home' %}">Главная</a>
    <a href="{% url 'restaurant' %}">Рестораны</a>
    <a href="{% url 'deliver' %}">Доставка</a>
  </div>
  <div class="btn☰" id="btn☰">
    <span style="font-size: 30px; cursor: pointer" onclick="openNav()">☰ </span>
  </div>
  <div class="login">
    <div class="login-screen">
      <div class="app-title">
        <h1>Авторизация</h1>
      </div>
      <form action="" class="login-form" id="add-form">
        <div class="control-group">
          <input
            data-max-length="10"
            data-min-length="4"
            type="text"
            class="login-field"
            value=""
            placeholder="Логин"
            id="login-name"
          />
          <label class="login-field-icon fui-user" for="login-name"></label>
        </div>
        <div class="control-group">
          <input
            type="password"
            class="login-field"
            value=""
            placeholder="Пароль"
            id="login-pass"
          />
          <label class="login-field-icon fui-lock" for="login-pass"></label>
        </div>
        <button type="submit" class="btn btn-primary btn-large btn-block">
          Войти
        </button>
        <a class="login-link" href="{% url 'registration' %}">
          Еще не зарегистрированы?
        </a>
      </form>
    </div>
  </div>
  <script type="text/javascript" src="../../static/functions.js"></script>
</body>
