<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../static/stylemes.css" />
    <title>Стилизация и отправка формы</title>
  </head>

  <body>
    <div>
      <a href="{% url 'home' %}">
        <img
          style="position: absolute; left: 50px; top: 40px"
          src="../../static/img/home.png"
          height="30"
          width="35"
          alt="Home img"
        />
      </a>
    </div>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
      <a href="{% url 'home' %}">Главная</a>
      <a href="{% url 'restaurant' %}">Рестораны</a>
      <a href="{% url 'deliver' %}">Доставка</a>
    </div>
    <div class="btn☰" id="btn☰">
      <span style="font-size: 30px; cursor: pointer" onclick="openNav()">☰</span>
    </div>
    <div class="wrapper">
      <form>
        <div class="form">
          <div action="#" id="form" class="form_body">
            <h1 class="form_title">Отправка данных на почту</h1>
            <div class="form_item">
              <label for="formName" class="form_label">Имя:</label>
              <input id="formName" type="text" name="name" class="form_input _req" />
            </div>
            <div class="form_item">
              <label for="formEmail" class="form_label">E-mail:</label>
              <input id="formEmail" type="text" name="email" class="form_input _req _email" />
            </div>
            <div class="form_item">
              <label for="formMessage" class="form_label"> Ваше сообщение: </label>
              <textarea name="Message" id="formMessage" class="form_input"></textarea>
            </div>
            <button type="submit" class="form_button">Отправить</button>
          </div>
        </div>
      </form>
    </div>
    <script>
      function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("btn☰").style.opacity = "0";
      }

      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("btn☰").style.opacity = "1";
      }
    </script>
    <script src="../../static/requestMessage.js"></script>
  </body>
</html>
